@import '../../shared/mixins.styl'

.ya-form
    background-color white

    &__container
        container()

    &__label
        padding 10px 0 30px
        background-color $red
        color white
        font(12px, 400, 1.5)

    &__content
        padding 20px 0

    &__title
        font(28px, 400, 1.2)
        margin-bottom 10px

    &__header
        margin-bottom 20px

    &__header-circle
        size(40px)

    &__row
        margin-top 15px

    &__actions
        margin-top: 30px

    &__button
        -webkit-appearance none
        border-width 0
        background-color $yellow
        padding 10px 20px
        font(14px, 300, 1)

        &:hover
            background-color lighten($yellow, 15%)
            cursor pointer

        &:focus
            outline none

        &:disabled
            background-color #cbcbcb