@import '../../shared/mixins.styl'

.ya-form
    padding 20px
    background-color #f0f0f0

    &__header-circle
        size(40px)

    &__row
        margin-top 10px

    &__actions
        margin-top: 20px