@import '../../shared/mixins.styl';

.text-input
    &__control
        box-sizing border-box
        padding 8px 12px
        width 100%
        border 1px solid #ececec
        font(14px, 400, 1.4)
        &:focus
            outline-color #fecd2f
            outline-width 3px

        &.error
            border 1px solid red

            &:focus
                outline-color #e61400

    &_correct &__control:focus
        outline-color yellowgreen

    &__suggestion
        font(12px, 300, 1.2)
        color #b7b7b7
        padding 2px 4px
        margin-top 3px
