$colors = {}
$red = #e61400;
$yellow = #fecd2f;
$blue = #0e8dce;
$green = #9acd32;

container()
    padding-left 20px
    padding-right 20px

size($width, $height = $width)
    width $width
    height $height

font($size, $weight = 400, $lineHeight = 1.25)
    font-family -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif
    font-size $size
    font-weight $weight
    line-height $lineHeight