@import '~reset-css/reset.css'
@import 'shared/mixins.styl';

html
body
.app
    height 100%

.app
    display flex
    flex-direction column
    justify-content center
    align-items center
    &__form
        width 400px